body {
    background-color: black;
    color: green;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #202020;
}

.header-links {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.dill {
    width: 90px;
    height: auto;
}

a {
    color: green;
    cursor: default;
    text-decoration: none;
}
    
a:hover {
    color: rgb(53, 199, 53);
}

img {
    max-width: 45%;
    height: auto;
}

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    background-color: #202020;
    border: 2px solid green;
    border-radius: 20px/50px;
    color: green;
    padding: 5px 15px;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
  }
.button:hover {
    background-color: green; 
    color: black; 
    border: 2px solid green;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px; 
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}