body {
    background-color: black;
    color: green;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #202020;
}

.logo {
    width: 60px;
    height: auto;
    filter: contrast(150%) brightness(75%);
    transition-duration: 0.4s;
}

.logo:hover {
    filter: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

a {
    color: green;
    cursor: default;
    text-decoration: none;
    transition-duration: 0.4s;
}
    
a:hover {
    color: rgb(53, 199, 53);
}

main {
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

#img-div {
    margin: 0 auto;
    text-align: center;
}

#image {
    width: 45%;
    height: auto;
    margin: 15px;
}

#tribute-info {
    margin: 15px;
}

#tribute-link {
    margin: 20px;
}

.box {
    width: 40%;
    margin: 15px auto;
    background: #202020;
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    background-color: #202020;
    border: 2px solid green;
    border-radius: 20px/50px;
    color: green;
    padding: 5px 15px;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.4s;
  }
.button:hover {
    background-color: green; 
    color: black; 
    border: 2px solid green;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px; 
    background-color: #202020;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;

}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    top: 30%;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.emoji1 {
    position: fixed;
    top: 0;
    left: 0;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
        left: 0%;
    }
    to {
        transform:rotate(360deg);
        left: 100%;
    }
}

.emoji2 {
    position: fixed;
    top: 0;
    right: 0;
}

.emoji3 {
    position: fixed;
    bottom: 0;
    left: 0;
}

.emoji4 {
    position: fixed;
    bottom: 0;
    right: 0;
}

/* start of desktop styles */

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
    
}
    
@media screen and (max-width: 767px) {
    .box{
            width: 70%;
    }

    .popup{
            width: 70%;
    }

    #image {
        width: 70%;
       
    }

    ul {
        width: 70%;
    }

    footer {
        flex-direction: column;
    }

    
}
    
@media screen and (max-width: 479px) {
    
    ul {
        width: 90%;
    }
    
}